.Currency {
    width: 100%;
    padding: 20px;
    background-color: rgb(216, 225, 230);
}


.RefreshButtonDiv {
    width: 40px;
    height: 40px;
    background-color: skyblue;
    position: fixed;
    border-radius: 50%;
    bottom: 20px;
    right: 30px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RefreshButtonDiv:hover {
    background-color: rgb(46, 219, 250);
}


.RefreshButtonIcon {
    height: 17px;
    width: 17px;
} 


@keyframes RefreshAnimation {
    0% {
        transform: rotate(0deg);
        background-color: rgb(46, 219, 250);

    }
    50% {
        background-color: rgb(18, 196, 228);
    }
    100% {
        transform: rotate(360deg);
        background-color: rgb(46, 219, 250);
    }
}

.RefreshButtonDiv.Loading {
    animation: RefreshAnimation 1.5s infinite;
}


.ErrorContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffc7c7;
    width: 100%;
}

.Error {
    padding: 10px 20px;
    background-color: #ff8800;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 0px 0px 0px #000000;
    color: white;
    box-shadow: 0px 0px 0px grey;
    border-radius: 5px;

}

.Error:hover {
    background-color: rgb(255, 83, 15);
    text-shadow: 2px 2px 4px #000000a1;
    box-shadow: 2px 2px 4px grey;

}